[submodule "third_party/kahypar"]
	path = third_party/kahypar
	url = https://github.com/kahypar/kahypar

[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass

[submodule "third_party/gpudma"]
	path = third_party/gpudma
	url = https://github.com/karakozov/gpudma
	ignore = dirty
